node_modules/
__pycache__/
*.pyc
*.bak
*.bak[0-9]
*.log
.venv/
dist/
data/pcaps/
data/quarantine/
data/old_w2_r1/
data/*.log
ipsecscope.zip
*.zip
.pytest_cache/
*.pcap
*.pcapng
ipsecscope.zip
*.zip
.pytest_cache/
*.pcap
*.pcapng
